<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication11">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dev-Cos"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Password">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity">


        </activity>
        <activity
            android:name=".Signup_preferenceActivity">
        </activity>
        <activity
            android:name=".Signup_preferenceActivity2">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
        </activity>
        <activity
            android:name=".secondsearch">
        </activity>
        <activity
            android:name=".thirdsearch">
        </activity>
        <activity
            android:name=".TotalReviewActivity">
        </activity>
        <activity
            android:name=".CommunityActivity">
        </activity>
        <activity
            android:name=".Storage_Like" >
        </activity>
        <activity
            android:name=".ProfileImage" >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--<activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>-->

    </application>


</manifest>
